/* Contenedor principal */
.section-container-acercade {
    max-width: 800px;
    width: 100%;
    /* padding: 60px 20px 0; */
    height: 100%;
    z-index: 2;
    position: relative;
}

/* Títulos */
.section-title,
.section-subtitle {
    font-size: 22px;
    font-weight: bold;
    color: #f4f4f4;
    margin-bottom: 15px;
    text-align: left;
}

/* Texto */
.section-container-acercade p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    text-align: justify;
}

/* Listas */
.custom-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.custom-list li {
    font-size: 16px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.custom-list a:hover {
    color: #c9a773;
}

.custom-list li:last-child {
    border-bottom: none;
}

/* Fondo de las secciones */
#acerca,
#historia {
    position: relative;
    /* Se asegura de que el pseudo-elemento ::after esté contenido */
    background: url('/inequivoco/img/inicio.png') center/cover fixed no-repeat;
    color: white;
    padding: 60px 20px 0;
}

/* Capa oscura para mejorar la legibilidad */
#acerca::after,
#historia::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    /* Asegura que el contenido esté por encima de la capa oscura */
}

/* Asegura que el contenido esté visible sobre la capa oscura */
#acerca .section-container-acercade,
#historia .section-container-acercade {
    position: relative;
    z-index: 2;
}

#historia {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsivo */
@media (max-width: 768px) {
    .section-container-acercade {
        padding: 0px 20px 0;
    }

    #acerca,
    #historia {
        background-attachment: scroll;
        /* Evita problemas en móviles */
    }
}