/* Estilos generales */
nav {
    /* background-color: #333; */
    padding: 10px 20px;
    /* position: relative; */
    position: fixed;
    width: 100%;
    z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #c9a773;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background: #575757;
    transform: scale(1.1);
}

/* Botón hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 9998;
}

/* Responsividad: Menú hamburguesa */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background: #575757;

    }

    nav ul.active {
        max-height: none;
        height: 100vh;
        /* Altura suficiente para mostrar los elementos */
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        width: 100%;
    }
}