<section>
    <div class="inicio">
        <div class="contenido">
            <div class="logo-container">
                <img src="/inequivoco/img/logo.png" alt="Logo" class="logo">
            </div>
            <p>La música que te toca el alma.</p>
            <a href="#conciertos" class="cta">Próximos Conciertos</a>
        </div>
    </div>
</section>
<section>
    <div class="section-container">
        <h2 class="section-title">Acerca de inequivoco</h2>
        <p><strong>Origen:</strong> Cuenca, Ecuador 🇪🇨</p>
        <p><strong>Géneros:</strong> rock fusión</p>
        <p><strong>Años activos:</strong> 2011 - 2020, 2024 - Presente</p>

        <h3 class="section-subtitle">Integrantes</h3>
        <ul class="custom-list">
            <li><strong>David Luis</strong> – Voz y teclados</li>
            <li><strong>Christian Adrián</strong> – Batería y segunda voz</li>
            <li><strong>Diego Rodas</strong> – Guitarra secundaria</li>
            <li><strong>Andrés Rengel</strong> – Bajo</li>
            <li><strong>José Rivera</strong> – Primera guitarra y segunda voz</li>
        </ul>
    </div>
</section>