<section class="video-section">
    <div class="section-container-galeria">
        <h1 class="video-title">YouTube</h1>
        <p class="video-subtitle">Explora nuestros videos destacados</p>

        <div class="video-container">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/bcTSnI6xMcQ" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div class="video-wrapper">
                <iframe
                    src="https://www.youtube.com/embed/videoseries?si=kS7qHJ2s0UssXxj6&amp;list=OLAK5uy_nfdgiPiaxr8135MU8V4_pv9eeuPfjB0dU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>